@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  
  width: 100%;
  min-height: 100%;
  display: flex;
  
 
  background-color: snow;
  font-family: Raleway;
}
.main-cont
.navbar {
  min-height: 10%;
  background-color: #9e9e9e;
  padding: 1em;
  }

  .navbar .logo {
    text-decoration: none;
    color:  #ffffff;
    size: 10px;
    
  }
  .navbar a {
    color:  #ffffff;
 
    }

    nav {
      list-style-type: none;
      text-decoration: none;
    }
    .card {
      display: flex;
      flex-direction: column;
    }
